
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators{ text-align: right; }


.fade-carousel .carousel-indicators > li {
    margin: 3px 3px;
    background-color: #fff;
    border-color: #fff;
    opacity: .7;
    width:9px;
    height:9px;

}
.fade-carousel .carousel-indicators > li.active {
  width: 11px;
  height: 11px;
  opacity: 1;
   background-color: #f39c12;
    border-color: #f39c12;
}





/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}